@import '../../assets/scss/variables';
@import '../../assets/scss/mixin';
@keyframes moveFromBottom {
    0% {
      opacity: 0;
      transform: translateY(10rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }

// .layout {
//     &--content {
//         grid-column: 3 / 7;
//         margin: 1.5rem 0;
//     }

//     &--carousel {
//         grid-column: 3 / 7;
//         margin: 1.5rem 0;
//     }
//     &--explore {
//         grid-column: 3 / 7;
//         margin: 1.5rem 0;
//     }
// }

// .one {
//     animation: moveFromBottom 1s ease-in;
// }

// .two {
//     animation: moveFromBottom 1s ease-in;
// }


.btn-center {
    text-align: center;
    margin: 5rem auto;
}

.btn-general {
    font-size: 1.5rem;
    color: $color-grey-dark-2;
    padding: 1rem;
    text-decoration: none;
    background-size : 200%;
    background-image: linear-gradient(to right, $color-white 50%, $color-grey-dark-2 50%);
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}

.btn-general:hover, .btn-general:active {
    color: $color-white;
    background-color: $color-grey-dark-2;
    background-position: 100%;
}

.content {

    &__welcome {

        &--user {
            font-size: 3rem;
        }

        &--explore {
            font-size: 2rem;
        }
    }

    &__intro {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 4.5rem;
        align-items: center;
        justify-items: center;
    }

    &__product {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.product:not(:first-child):not(:last-child) {
    margin: 0 2rem;
}

.cart {

    &__text {
        font-size: 1.8rem;
        text-align: center;                                   
    }
}

//carousel

.carousel {
    width: 100%;
    height: 400px;
    position: relative;
    border: 1px solid black;
    overflow: hidden;

    @media(max-width : 900px) {
        height: 300px;
    }

    @media(max-width : 600px) {
        height: 200px;
    }

    @media(max-width : 400px) {
        height: 100px;
    }

    &-slide {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__photo {
        width: 100%;
        height: 100%;
    }
}

.right-arrow {
    position: absolute;
    fill: white;
    width: 3rem;
    height: 3rem;
    top: 52%;
    right: 0%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    fill: white;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 4%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

//explore section
.explore {

    &__flex {
        display: flex;
        justify-content: space-around;
    }
}


