//colors
$color-primary : #55c57a;
$color-primary-light : #7ed56f;
$color-primary-dark : #28b485;

$color-secondary-light : #ffb900;
$color-secondary-dark : #ff7730;

$color-tertiary-light : #2998ff;
$color-tertiary-dark : #5643fa;

$color-grey-light-1 : #777;
$color-grey-light-2 : #999;

$color-gold: #c69963;
$color-gold-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #654321;


$color-white : #fff;
$color-black : #000;

//fonts

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
$font-nice: Arial, "Microsoft YaHei";