<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <div class="content">
        <p class="content__title">Welcome to OMO</p>
        <p class="content__logo">歐莫幸福手作</p>
        <p class="content__text">Sweeten your life.</p>
        <div class="content__link">
            <div>
                <p class="content__link--text">進入官網 &rarr;</p>
                <p class="content__link--text">Official Site &rarr;</p>
            </div>
            <div>
                <a routerLink="/chinese" class="content__link--ch">中文</a>
                <a href="" class="content__link--eng">English</a>
            </div>
        </div>
    </div>
</ul>