.container {
        display: grid;
        grid-template-columns: [full-start] minmax(8rem, 1fr) [center-start] repeat(8, [col-start] 
                               minmax(min-content, 14rem) [col-end] ) [center-end] minmax(8rem, 1fr) [full-end];
        grid-row-gap: 5rem;
}


.layout {
    &--nav {
        grid-column: 1 / -1;
    }

    &--slider {
        grid-column: 3 / 9;
    }
}






