<div class="card">
    <div class="card__side card__side--front">
        <img src="../../../assets/imgs/cake1.jpg" alt="image" class="card__image">
        <div class="card__title">Title</div>
        <ul class="card__ingredients">
            <li class="card__ingredient"></li>
        </ul>
        <div class="card__description">Lorem ipsum dolor sit amet.</div>
        <div class="card__love">
            <svg class="card__love--icon">
                <use xlink:href="../../assets/sprite1.svg#heart"></use>
            </svg>
            <p class="card__love--count">10</p>
        </div>
    </div>
</div>