@import '../../../assets/scss/variables.scss';

.button {
    text-align: center;
}

.card {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 23rem;

    @media(max-width : 967px) {
        height: 36rem;
        width: 25rem;
        margin: 0 auto;
    }

    @media(max-width : 900px) {
        height: 25rem;
        width: 25rem;
        margin: 0 auto;
    }

    &__side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
        transition: all .8s ease;
        

        &--front {

        }

        &--back {
            background-color: $color-grey-dark-2;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(max-width : 967px) {
                display: none;
            }
        }
    }

    &__image {
        width: 100%;
        height: 70%;

        @media(max-width : 900px) {
            height: 50%;
        }
    }

    &__title {
        color: $color-grey-dark-2;
        font-size: 1.7rem;
        text-align: center;
        margin-top: 1.5rem;

        &--back {
            color: $color-white;
            font-size: 1.7rem;
            text-align: center;
            margin-bottom: 1.5rem;
        }
    }

    &__ingredients {
        color: $color-white;
        font-size: 1.7rem;
        padding: 1rem;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    &__ingredient {
        color: $color-white;
        font-size: 1.5rem;
    }

    &__love {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        &--icon {
            fill: red;
            width: 2.5rem;
            height: 2.5rem;
            margin-right: .5rem;
        }

        &--count {
            color: $color-grey-dark-2;
            font-size: 1.5rem;
            align-self: center;
        }
    }

    &__description {
        color: $color-white;
        font-size: 1rem;
        text-align: center;
    }

    &__btn {
        justify-self: center;
        align-self: center;
        margin-top: 1rem;
    }
}

.btn {
    color: $color-white;
    font-size: 1.5rem;
    padding: .8rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s;
    border-radius: 3px;
    background-color: $color-grey-dark-2;
    border: none;

    &__phone {
        display: none;
        margin: 2rem 0;

        @media(max-width : 967px) {
            display: inline-block;
        }
    }

    &__center {
        text-align: center;
    }
}  

.btn:hover {
    color: $color-black;
    background-color: gold;
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);

    @media(max-width : 967px) {
        transform: rotate(0);
    }
}

.card:hover .card__side--back {
    transform: rotateY(0);

    @media(max-width : 967px) {
        transform: rotate(180);
    }
}