<div class="container">
    <div class="layout--nav">
        <app-navbar></app-navbar>
    </div>
    <div class="layout--menu">
        <img src="../../assets/imgs/omo.png" alt="OMO logo" class="menu__logo">
        <ul class="menu__list">
            <li class="menu__item"><a routerLink="/chinese/about" class="menu__link">About 關於歐莫</a></li>
            <li class="menu__item"><a routerLink="/chinese/product" class="menu__link">Menu 美味菜單</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Contact 聯絡歐莫</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Activities 近期活動</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Problems 問題回報</a></li>
        </ul>
    </div>
    <div class="layout--footer">
        <app-footer></app-footer>
    </div>
</div>