<div class="container">
    <div class="layout--nav">
        <app-navbar></app-navbar>
    </div>
    <div class="layout--content">
        <section class="one">
            <h2 class="heading-2 title">關於歐莫</h2>
            <div class="content__intro">
                <div class="feature">
                    <svg class="feature__icon">
                        <use xlink:href="../../assets/sprite3.svg#money"></use>
                    </svg>
                    <h4 class="feature__title">親民的價格</h4>
                    <p class="feature__content">秉持著親民的價格, 讓每個人都有機會可以享用歐莫的甜點 &#46;</p>
                </div>
                <div class="feature">
                    <svg class="feature__icon">
                        <use xlink:href="../../assets/sprite3.svg#security"></use>
                    </svg>
                    <h4 class="feature__title">安心的食材</h4>
                    <p class="feature__content margin-right">食材只採用當日新鮮的水果以及肉類, 絕對不使用隔夜貨 &#46;</p>
                </div>
                <div class="feature">
                    <svg class="feature__icon">
                        <use xlink:href="../../assets/sprite3.svg#home"></use>
                    </svg>
                    <h4 class="feature__title">回家的感受</h4>
                    <p class="feature__content">歐莫提供舒適的空間給各位顧客, 請把歐莫當作你的第二個家 &#46;</p>
                </div>
            </div>
            <div class="btn-center">
                <button (click)="toAbout()" class="btn-general">了解更多 &rarr;</button>
            </div>
        </section>
        <section class="two">
            <h2 class="heading-2 title">推薦商品</h2>
            <div class="content__product">
                <div class="product" *ngFor="let product of randomData | async">
                    <img [src]="product.imageUrl" alt="dessert" class="product__image">
                    <div class="product__content">
                        <p class="product__content--name">{{ product.name }}</p>
                        <p class="product__content--cal">{{ product.calory }} cal</p>
                        <p class="product__content--price">{{ product.price }} NTD</p>
                    </div>
                    <button (click)="toItemPage(product._id)" class="product__button">前往訂購</button>
                </div>
            </div>
            <div class="btn-center">
                <button (click)="toProduct()" class="btn-general">更多商品 &rarr;</button>
            </div>
        </section>
        <section class="three" *ngIf="userid !== notauthenticated">
            <h2 class="heading-2 title">購物車 & 訂購紀錄</h2>
            <div class="content__cart">
                <p class="cart__text">您可以在這裡前往購物車來觀看您的購物紀錄</p>
                <div class="btn-center">
                    <button (click)="toCart()" class="btn-general">前往購物車 &rarr;</button>
                </div>
            </div>
        </section>
    </div>
    <div class="layout--footer">
        <app-footer></app-footer>
    </div>
</div>