@import "./assets/scss/base";

html, body { height: 100%; }
body { margin: 0; font-family: 'Noto Sans TC','微軟正黑體','Microsoft JhengHei','Apple LiGothic Medium',sans-serif; min-height: 100vh;}

.center {
    text-align: center;
}

.title {
    text-align: center;
    padding: 2rem;
    margin: 3rem 0;
    font-family: 'Dancing Script', cursive;
    border-bottom: .5px solid $color-grey-dark-2;
    font-size: 3rem;
    color: $color-grey-dark-2;
}


